body {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

nav {
    position: fixed;
    z-index: 1;
}

main {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#click-zone {
    margin: auto;
}

#xd-text {
    padding-top: 20px; 
    height: 97%;
    overflow-wrap: break-word;
    box-sizing: content-box;
}

#score {
    font-size: 1.5em;
    margin-right: 20px;
}

#cps {
    font-size: 1.5em;
    margin-right: 20px;
}

#shop {
    position: fixed;
    width: 250px;
    height: 500px;
    margin: 10px;
    right: 0;
    text-align: center;
    display: none;
    padding: 0px;
    top: 64px;
    z-index: 1;
}

#shop-titlebar {
    height: 60px;
    padding-top: 10px;
}

#shop-window {
    height: 440px;
    overflow-y: auto
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#close-shop {
    position: absolute;
    margin: 5px;
    right: 0;
    top: 0;
    cursor: pointer;
}

#shop-content {
    padding: 0;
    padding-bottom: 10px;
}

#shop-item {
    margin: 10px;
    vertical-align: 0;
    cursor: pointer;
}

#item-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.nav-wrapper {
    background-color: #3f51b5;
}

.brand-logo {
    margin-left: 15px;
}
